.page-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-body {
  padding: 20px;
  font-size: 10pt;
}

.container-body .project-info {
  padding: 10px 20px 0px 20px;
}

.container-body h2 {
  font-size: 14pt;
}

.container-body p {
  margin: 10px;
}

.container-body ul {
  margin: 0px;
  padding: 0px;;
}

.container-body textarea {
  width: 50%;
  padding: 5px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.container-button {
  padding: 5px;
  font-size: 10pt;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  width: 200px;
}

.container-button:hover {
  background-color: #0056b3;
}

.table-two {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 5px; 
  border-bottom: 1px solid #ddd; 
  padding-bottom: 5px;
}

.table-two-left {
  flex: 1;
}

.table-two-right {
  margin-left: 20px;
}